.page {
  background-color: #2a2c2f;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}
