.place__image {
  grid-area: image;
  display: block;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 320px;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    max-width: 425px;
    width: 100%;
  }
}
