.footer__links {
  cursor: default;
  list-style-type: none;
  display: flex;
  gap: 18px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}
