.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin: 48px 0 0 0;
  }
}
